<div class='cb'>
    <div class="cb-container">
        

        <button class="btn btn-intro">
            <i class="fas fa-user-secret fa-2x"></i> Put a Face to a Name
        </button>

        <div class='cb-instructions'>Select an Option</div>
        
        <div class="cb-svg">
            <module href="/components/character.svg"></module>
        </div>

        <div class="cb-controls">
            <button class="btn btn-cb">
                <i class="fas fa-poll"></i> 
                <span>UX</span>
            </button>
            <button class="btn btn-cb">
                <i class="fas fa-draw-polygon"></i> 
                <span>Designer</span>
            </button>
            <button class="btn btn-cb">
                <i class="fas fa-code"></i> <span>Dev</span>
            </button>
            <button class="btn btn-cb">
                <!-- <i class="fas fa-infinity"></i>  -->
                <span class="fa-stack">
                    <i class="fas fa-brain fa-stack-2x"></i>
                    <i class="fas fa-infinity fa-stack-1x fa-inverse"></i>
                  </span>
                <span>Thinker</span>
            </button>
            <button class="btn btn-cb">
                <i class="fas fa-wave-square"></i> 
                <span>Musician</span>
            </button>
        </div>
    </div>
  </div>