<footer class="footer">
    <nav class="footer__nav">
      <a href="https://www.linkedin.com/in/jonathon-rogles-47576724/" class="footer__link">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://github.com/jrogles" class="footer__link">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://rogles.digital" class="footer__link logo--rd">
        <module href="/components/logo-rd.svg"></module>
      </a>
      <a href="https://doodlepin.club" class="footer__link">
        <i class="fas fa-store-alt"></i>
      </a>
      <a href="https://rogles.digital/contact" class="footer__link">
        <i class="fas fa-envelope"></i>
      </a>
    </nav>
    <div class="footer__legal">
      &copy; <span class="copyrightDate">2020</span> Rogles Digital LLC
    </div>
  </footer>