<meta property="og:type" content="website">
<meta property="og:url" content="https://jonathon-rogles.com/">
<meta property="og:title" content="JR - All Things Front-End">
<meta property="og:description" content="/images/jr-preview.png">

<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://jonathon-rogles.com/">
<meta property="twitter:title" content="Jonathon Rogles">
<meta property="twitter:description" content="All Things Front-End">
<meta property="twitter:image" content="/images/jr-preview.png">